* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkslategray;
    opacity: 94%;
    height: 325px;
    text-align: center;
}

header h1 {
    padding-top: 15px;
    font-size: 35px;
}

header a {
    text-decoration: none;
    color: ivory;
}

header img {
    height: 250px;
    width: 265px;
    margin-top: 15px;
    margin-left: 62px;
    
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#music {
    float: left;
    display: inline;
    margin-top: 75px;
    margin-left: 200px;
    color: palegoldenrod;
    font-size: 26px;
    font-style: italic;
}

#web {
    float: right;
    display: inline;
    margin-top: 75px;
    margin-right: 200px;
    color: palegoldenrod;
    font-size: 26px;
    font-style: italic;
}

.navigation {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.links {
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto 225px;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}

.links a {
    text-decoration: none;
    color: black;
}

/* Hover Effects for Header Links */

.links a:hover {
    background-color: turquoise;
    opacity: 76%;
    border-radius: 10px;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 450px;
    background-color: lightsteelblue;
    justify-content: space-evenly;
}

#box-primary {
    flex: 1 15%;
    border-right: 2px solid green;
    height: 100px;
    font-style: italic;
    font-size: 38px;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 150px;
}

#box-secondary {
    flex: 1 80%;
    height: 100px;
    margin-top: 36px;
    font-size: 24px;
    padding-left: 20px;
}

#box-secondary a {
    margin-left: 30px;
    text-decoration: none;
}

#box-secondary a:hover {
    background-color: yellow;
    border-radius: 5px;
}

#box-secondary ul li {
    margin: 0 0 20px 20px;
}

#box-secondary ul li a {
    text-decoration: none;
}

#box-secondary ul li a:hover {
    background-color: plum;
    border-radius: 20px;
}
footer {
    font-size: 32px;
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 995px) {
    header img {
        width: 95px;
        height: 95px;
}

#box-primary {
    font-size: 20px;
}

#box-secondary {
    font-size: 20px;
}

#box-secondary ul li {
    font-size: 17px;
}


@media screen and (max-width: 768px) {
    header img {
        width: 80px;
        height: 80px;
}

    .links {
        flex-direction: column;
}

    .parent {
        flex-direction: column;
        width: 70%;
        height: 70%;
        margin-top: 80px;
}

@media screen and (max-width: 575px) {
    header {width: 100%;
}

    header img {
        width: 60px;
        height: 60px;
}

    .links {
        flex-direction: column;
}

    .links a {
        color: red;
}

    .parent {
        flex-direction: column;
        width: 50%;
        height: 50%;
        margin-top: 130px;
    }

    #box-primary {
        border: none;
        width: 30%;
        font-size: 16px;
}

    #box-secondary {
        width: 50%;
        font-size: 16px;
}

    footer {
        font-size: 12px;
        color: violet;
}